<main class="container mx-auto p-4">
    
    <div style="width: 40%; float: right">
        
        <form>
            <label style="margin-top: 80px;" for="title">Title:</label>
            <input
                id="title"
                placeholder="Enter Title"
                type="text"
                required
                minlength="3"
                maxlength="50"
                pattern="[A-Za-z0-9_-]"
                [formControl]="title"
                />
            <label for="description">Description:</label>
            <textarea
                id="description"
                rows="5"
                placeholder="Enter Description"
                type="text"
                required
                minlength="8"
                maxlength="50"
                pattern="[A-Za-z0-9_-]"
                [formControl]="description"
                ></textarea>
            <label for="department">Department Code:</label>
            <input
                id="department"
                placeholder="Enter Department"
                type="text"
                required
                minlength="3"
                maxlength="50"
                pattern="[A-Za-z0-9_-]"
                [formControl]="department"
                />
                    <!-- Add new post button -->
                <button class="signInBtn"
                (click)="addNewPost($event)">Create New Post
                </button>

                <br><br><br>
                <app-error *ngIf= "hasError" [message]="errorMessage"></app-error>
        </form>
    </div>

    

    <div style="width: 60%; float: left; height: 300px">

    <h2 style="color: #0051ff; margin-top: 20px;" class="mt-8 mb-4">Recent Posts</h2>
    <!-- Actual code needed -->
    <app-post *ngFor="let post of posts"
    [id]="post._id"
    [title]="post.title"
    [description]="post.description"
    [department]="post.departmentCode"
    (delete)="deletePost(post._id)"></app-post>


    <!-- Just for test -->
    <!--<div class="body">
        <div class="container">
            <div class="box">
                <h2 class="name">Chicken</h2>
                <a class="info">Delete Post</a>
                <p>People eat them</p>
            </div>
        </div>
    </div>-->

    </div>

</main>




<!--
    <main class="container mx-auto p-4">
    <div>
        <app-error *ngIf= "hasError" [message]="errorMessage"></app-error>
        <form class="flex flex-col">
            <label for="title" class="mb-2">Title:</label>
            <input
                id="title"
                placeholder="Enter Title"
                type="text"
                class="mb-4 rounded bg-gray-50 px-4 py-2"
                [formControl]="title"
                />
            <label for="description" class="mb-2">Description:</label>
            <textarea
                id="description"
                rows="5"
                placeholder="Enter Description"
                type="text"
                class="mb-4 rounded bg-gray-50 px-4 py-2"
                [formControl]="description"
                ></textarea>
                <label for="department" class="mb-2">Department Code:</label>
                <input
                    id="department"
                    placeholder="Enter Department"
                    type="text"
                    class="mb-4 rounded bg-gray-50 px-4 py-2"
                    [formControl]="department"
                    />
                     //Add new post button
                    <button class="mt-4 rounded bg-blue-500 px-4 py-2 text-white"
                    (click)="addNewPost($event)">Create New Post
                    </button>
            </form>
        </div>
    
        <h2 class="mt-8 mb-4">Latest Posts</h2>
        <app-post *ngFor="let post of posts"
        [id]="post._id"
        [title]="post.title"
        [description]="post.description"
        [department]="post.departmentCode"
        (delete)="deletePost(post._id)"></app-post>
    </main>
-->